huggingface_hub
google-generativeai
google-api-core
datasets
fsspec
aiohttp
openai
decord
transformers==4.57.0
qwen-vl-utils[decord]==0.0.8
networkx
ftfy
opencv-python
sentence-transformers
accelerate
scikit-learn
peft
ruptures
bitsandbytes
