datasets
fsspec
aiohttp
networkx
ftfy
opencv-python
sentence-transformers
accelerate
scikit-learn
gdown
transformers==4.51.1
transformers-stream-generator==0.0.5
trl==0.17.0
tokenizers==0.21.1
openai
jinja2
jsonlines
decord
qwen-vl-utils[decord]==0.0.8
deepspeed
peft==0.17.1
